
img{
	max-width: 100%;
	height: auto;
}
.shlo{
	text-align: center;
}
/* Resume Gen */
@media(min-width: 992px){
  #formBackground
        {
          width: 70%;
          height: 100%;
          background-color: rgba(148, 126, 165, 0.05);
          z-index: -1;
          position: fixed;
          top: 0px;
          left: 15%;
        }
        .formContainer
        {
          width: 65%;
          position: absolute;
          left: 17.5%;
          top: 100px;
        }        

        .addButton
        {
          height: 36px;
          width: 36px;
        }
        #addProject
        {
          position: relative;
          top: -20px;
        }
        .stu{
        	display:flex;
        	justify-content: center;
        	margin-top: 40px;
        	margin-bottom: 40px;
        }
        .shlo{
        		text-align: left;
                margin-top: 100px;
            }

        }
    

.stu{
	display:flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    }

.log {
    max-width: 250px;
    max-height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.card .card-content .card-title{
	color: white;
}
.card .card-content {
    padding: 20px;
    border-radius: 0 0 2px 2px;
    background: #00838f;
}

@media(max-width: 640px){
	.sti{
		display: none;
	}
  table {
    max-width: 100%;
    display: block;
    /* display: flex; */
    /* justify-content: center; */
    overflow: scroll;
    overflow-y: hidden;
}
}
.classy{
    margin-top: 15px;
   
   
}

@media(min-width: 640px){
    .classy{

    display: flex;
    justify-content: space-around;
}
}


.margin10{
    margin-top : 5%;
}
.form-inline form{
    display: inline-block;
}
.dropdown-wide{
    padding:0px 35px;
    cursor: pointer;
}
.dropdown-med{
    padding:0px 25px;
    cursor: pointer;
}
