header, main, footer {
      padding-left: 240px;
    }

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }
      
.brand-logo img {
    height: 50px;
    margin: 7px 7px 7px 15px;
}
@media(min-width: 992px){
	nav .brand-logo{
		margin-left: 40px;
	}

	.listing{
		width: 50%;
	}
}
@media(max-width: 460px){
.exbut{
	padding: 0 .5rem;
}
}
@media(max-width: 359px){
.exbut{
	padding: 0 ;
}
}

.reqcolor{
	background-color: #00c853;
}
.reqcolor:hover{
	background-color: #37E073;
}
.circul{
	position: absolute;
	left:20px;
	top:20px;
}
.declcolor{
	background-color: #F44336 !important;
}

@media(max-width: 526px){
.aabut{
	padding: 0 .5rem;
}
}
@media(max-width: 389px){
.aabut{
	padding: 0 .2rem ;
}
}
@media(max-width: 354px){
.prebut{
	margin-top:10px;

}
.aabut{
	padding: 0 .5rem ;
}

}

.finally{
	    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.modal.modal-fixed-footer .modal-footer{
	height: 70px;
}

.modal.modal-fixed-footer{
	height: 85%;
}
@media only screen and (max-width: 992px){
	.modal{
		width: 90%;
	}
}

.modal{
	max-height: 90%;
}


::-webkit-scrollbar-track
{
	
}

::-webkit-scrollbar
{
	width: 7px;
	background-color: white;
}

::-webkit-scrollbar-thumb
{
	background-color: #00838F;
	
}

body
{
	background-color: rgba(148, 126, 165, 0.1);
	
}
.headings
{
	font-size: 25px;
	font-family: Charcoal, sans-serif;
	position: relative;
	left: 2.5%;
	
}
